.project_div {
  vertical-align: text-top;
  padding: 24px;
  margin-left: 20px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr
}

.project_div2 {
  background-color: rgba(235, 94, 40, 0.55);
  padding: 24px;

}



.project_img {
  min-width: 50%;
  width: 90%;
  margin-left: 10px;
}

@media(max-width: 568px) {
  .project_div {
    grid-template-columns: 1fr;
  }
}
